
img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 600px) {
body {
  padding: 5px;
}
header img {
  max-width: 80%; 
  margin-top: 3vh;
  margin-bottom: 3px; 
}
}

@media (max-width: 1404px) {
.content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}

@media (max-width: 768px) {
.text-intro-section, .image-intro-section {
  max-width: 100%;
  margin: 0 auto;
}
}

@media (max-width: 1404px) {
.text-intro-section {
  max-width: 700px;
}
}
@media (max-width: 1404px) {
.image-intro-section {
  margin-top: 10vh;
  max-width: 700px;
}
}

@media (min-width: 1405px) {
.text-intro-section {
  margin-right: 50px;
}
}

@media (min-width: 1405px) {
.image-intro-section {
  margin-right: 50px;
}
}


@media (max-width: 768px) {
.text-about-section {
  width: 90%;
  margin-left: auto;
}
}


@media (max-width: 1404px) {
.form-contact {
  max-width: 500px;
}
}

@media (min-width: 1405px) {
.form-contact {
  margin-right: 50px;
  max-width: 500px;
}
}

@media (max-width: 1404px) {
.image-contact {
  margin-top: 10vh;
  max-width: 700px;
}
}

@media (max-width: 1404px) {
.contact-section {
  flex-direction: column; /* Stack the form and image vertically */
}
}

@media (max-width: 1404px) {
.text-stacked-below-image {
  margin-top: 4vh;
}
}


.button-container {
  position: fixed;
  top: 30px;
  right: 30px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 5px;
}

/* Media query to hide the button if screen width is 600px or less */
@media (max-width: 600px) {
  .button-container {
      display: none;
  }
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #FFB905 0, #FFB905 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: #5EB090 0 1px 1px,#5EB090 0 1px 1px -3px,#5EB090 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  font-family: 'League Spartan'; 
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  }

  .button-29:focus {
    box-shadow: #5EB090 0 0 0 1.5px inset, #5EB090 0 2px 4px, #5EB090 0 7px 13px -3px, #5EB090 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #5EB090 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #5EB090 0 3px 7px inset;
  transform: translateY(2px);
}

.footer {
  background-color: #3C6CA8;
  color: white;
  text-align: center;
  padding: 10px 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  /* position: fixed; */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allow wrapping to the next line */
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .footer-content {
      flex-direction: column;
      align-items: center;
  }
  
  .footer-links {
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;
  }
}


.header-text {
font-family: 'Freeman';
font-size: 30px; 
color:#3C6CA8;
}

.sub-header-text {
font-family: 'Sanchez';
font-size: 20px;
color: #5EB090;
}

.paragraph-text {
color: #534F4F;
font-family: 'Sanchez';
font-size: 17px;
}

.custom-input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 2px solid #5EB090;
  border-radius: 8px;
}

.custom-button {
  padding: 10px 20px;
  display: block;
  width: 100%;
  background-color: #5EB090;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #4a9073;
}



.tick-section {
max-width: 800px;
margin: 0 auto;
padding: 20px;
text-align: center;
}

.tick-container {
margin-top: 3vh;
display: flex;
flex-wrap: wrap;
justify-content: center; /* Ensure even spacing between items */
gap: 20px; /* Gap between items */
}

.tick-item {
display: flex;
align-items: center;
gap: 10px;
box-sizing: border-box;
}

.tick-item img {
width: 24px;
height: 24px;
}

.tick-item p {
margin: 0;
font-family: 'Sanchez';
color: #46593d;
text-align: left; 
}

/* Media query to stack items on smaller screens */
@media (max-width: 768px) {
.tick-container {
  justify-content: center; /* Center items when stacked */
}

.tick-item {
  flex: 1 1 calc(50% - 10px); /* Two items per row with spacing */
  margin-bottom: 10px; /* Ensure spacing between rows */
}
}

@media (max-width: 480px) {
.tick-item {
  flex: 1 1 100%; /* Stack items vertically on very small screens */
}
}
